
@{
    ViewBag.Title = "Completed";
}

<h2>Изменения успешно сохранены</h2>

@Html.ActionLink("вернуться к списку сотрудников",
                "Index", "Home", null, new { @class = "btn btn-primary" })